html{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    background-color: #7CCF4E;
    height: auto;
    padding: 2%;
}

h1{
    margin: 0px;
    padding: 10px;
    font-size: 60px;
    text-align: center;
}

img{
    display: block;
    margin: 0px auto 10px;
}

body{
    width: 90%;
    min-height: 590px;
    margin: 0px auto;
    background-color: rgb(214, 214, 214);
    padding: 0px;
    border: 5px solid black;
}

p{
    font-size: 16px;
    /*line-height: 2;*/
    /*letter-spacing: 1px;*/
    display: inline;
}

#new-task{
    margin: 30px;
    transform: translateX(-20px);
    text-align: center;
}

#task-list{
    text-align: center;
    list-style: inside;
    margin: 0px;
    padding: 0px;
}

#name-changer{
    margin-left: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%);
    /* display: block;
    text-align: center; */
    position: relative;
    top: 100px;
}